html {
  background-color: #EEEEEE;
  font-family: Roboto, Arial, "Sans Serif", Noto, "YT Sans", "Roboto Mono";
}

body {
  /* margin: 10px 10px; */
  line-height: 1.4;
  /* padding: 10px 0; */
  background-color: #EEEEEE;
}

button {
  background-color: white;
  border: 0;
}

h2 {
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: rgb(34, 34, 34);
}

p {
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 500px;
  grid-gap: 0.5rem;





}

.nav-container {
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column:1/4;
  grid-row: 1;
  padding-top: 0.5rem;
  color: white;
  margin-bottom: 0.1rem;
  background-color: white;


}

.userOptions {
  margin-left: 7rem;
  grid-column: 4;
  grid-row-end: 1;
}

.searchArea {
  border: solid 0.5px;
  margin-top: -0.5rem;
  border-right: none;
  color: white;
  padding: 0.6rem 0.6rem;
}

.searchBox {
  width: 45rem;
  max-width: 100%;
  height: 1.9rem;
  margin-left: 40px;
  align-items: stretch;
}

.sButton {
  background: url("Images/lupa.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1.9rem;
  width: 4rem;
  margin-left: -0.08rem;
  border-left: none;
  border: solid 0.5px;
  border-color: grey;
  align-self: center;
  position: absolute;
}

#YTLogo {
  height: 20px;
  width: 179px;
  align-self: stretch;
  margin-left: 1rem;
}

.videoArea {

  background-color: white;
  grid-row: 3;
  grid-column: 1/3;
  grid-gap: 20px;
  padding: 3rem;
  background-color: white;
}


.item-A {
  grid-column:1/3;
  grid-row: 2;
  margin-left: 0.7rem;
  background-color: white;
  padding-right: 20rem;

  border: none;
}

.item-B {
  display: inline-grid;
  grid-row: 4;
  grid-column: 1/2;
  background-color: white;
  grid-template-columns: 7rem 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr 1fr;
  grid-row-gap: 1rem;
}

.item-D {
  display: inline-grid;
  grid-column: 3/4;
  grid-row: 2/4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  background-color: white;
  padding-left: 1rem;


}

.item-D img {
  grid-column: 1;
  max-widht:12rem;
  max-height:8rem;
  height: 8rem;
  width: 12rem;
  margin-top: 10px;

}

.item-D p {

  grid-column: 2;
  margin-top: 10px;
}

.item-E {
  background-color: white;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  margin-left: 15px;

}

.vin-A {
  background: url(Images/avatar..png);
  background-repeat: no-repeat;
  background-size: 7rem 7rem;
  margin-top: 1rem;
  grid-column-start: 1;
  grid-row: 2/4;

}

.vin-B {
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-decoration: none;
  grid-column: 2;
  grid-row: 2;
  margin-left: 1rem;


}

.vin-C {
  background: url(Images/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-items:left;
  grid-column:2;
  grid-row: 3;
  margin-bottom: 2rem;
  overflow:visible;
}

.vin-D {
  background: url(Images/share.png);
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2;
  grid-row: 4;
  margin-top: 3rem;
  margin-left: -10rem;

}

.vin-E {
  line-height: 24px;
  text-align: left;
  font-size: 19px;
  color: rgb(102, 102, 102);
}

.vin-F {
  background: url(Images/like.png);
  background-repeat: no-repeat;

  margin-top: 3rem;

}

.vin-G {
  background: url(Images/dislike.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3rem;

}

.vin-H {
  background: url(Images/addvideo.png);
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1;
  grid-row: 4;


}

/* .comments {
  background-color: white;
  display: flex;
  align-self: center;
  flex-direction: column;
  column-gap: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 25rem;
  max-width: 75%;
} */
